html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #59cbe8;  /* London Spitfire light blue */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  border: 8px solid #ff8200;
  background-color: #59cbe8;
  color: #1c2b39;
}

footer {
  margin-top: auto;
  background-color: #59cbe8;
  color: #1c2b39;
  padding: 10px;
}

form {
  flex-grow: 0.5;
  align-self: center;
  height: 70%;
  width: 70%;
  background-color: #59cbe8;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

textarea{
  align-self: center;
  height: 30%;
  width: 50%;
  background-color: #70d4f0;
  color: #1c2b39;
  border: 1px solid #1c2b39;
  border-radius: 5px;
  padding: 10px;
}

button {
  align-self: center;
  width: fit-content;
  padding: 10px 20px;
  background-color: #70d4f0;
  color: #1c2b39;
  border: 1px solid #1c2b39;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ff8200;
  color: #1c2b39;
  border-color: #ff8200;
}